# for NetBeans
/projects/NetBeans/LambdaDojo/nbproject/private/
/projects/NetBeans/LambdaDojo/build/
/projects/NetBeans/LambdaDojo/dist/

# for IntelliJ IDEA
/projects/IntelliJ/.idea/
/projects/IntelliJ/out/
*.iml
*.ipr
*.iws